[run]
omit = 
    */__init__.py
    constants.py

[report]
omit = 
    */__init__.py
    constants.py

# Skip render and human play because they cover display code
exclude_lines = 
    if __name__ == .__main__.:
    @abstractmethod